#main {
    background-color: #000;
    color: rgba(252, 252, 252,0);
    font-family: sans-serif;
    font-size: 150px;
    text-align: center;
    margin: auto; 
    width: 500px;
    height: 500px;
    position: relative;
}

span.love {
    font-size: 50px;
}

span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span.n10 {
    color: rgba(252, 252, 252,1);
}

@keyframes countdown {
    0% {
        
    }
}